* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: black;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(131, 19, 19);
    color: white;
    justify-content: space-between;
    text-transform: capitalize;
    padding: 10px;

    .text {
        align-items: center;
        display: flex;
        gap: 15px;
        .search{

            input{
             padding: 10px;

                &::placeholder{
                    position: absolute;
                    left: 10px;
                }
            }
        }

        ul {
            list-style: none;
            display: flex;
            gap: 10px;
            

           li{
            
            padding: 5px;
            
            a {
                text-decoration: none;
                font-size: 1em;
                color: white;
            }
          } 
        }
    }


    .simbol {
        display: flex;
        gap: 15px;
        align-items: center;

        p{
            padding: 5px;
            gap: 5px;
            display: flex;
        }
        img{
            border-radius: 50%;
            height:30px;
        }

        .gap{
            gap: 5px;
            display: flex;
        }
    }
    .active{
        background:#ffffff50;

    }
    .search{
        
        display: flex;
        align-items: center;
        gap: 15px;

        input{
           border: none;
           outline: none;
           background: transparent;
           padding: 5px;
           border-bottom: 1px solid black;

           &::placeholder{
            color: black;
            position: absolute;
            left: 0;
            padding: 0 5px;
           }
        }
        button{
            background: transparent;
            border: 1px solid white;
            padding: 5px 20px;
            color: white;
        }

    }
}